$primary: #043bea;
$secondary: #9a78f7;
$light: #bcb5d8;
$secondary-light: #b399f8;
$dark: #2d1d67;
$secondary-dark: #444;
$body-bg-color: #f3f4f7;
$body-color: $dark;
$normal-shadow: 0 10px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);